body {
  font-size: 18px;
  background-color: #363636;
  color: rgb(245, 131, 65);
}

fieldset {
  background-color: gray;
  border-style: none;
  border-top-style: solid;
  border-color: #363636;
  border-width: 5px;
  color: rgb(185, 3, 3);
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: #363636;
  border-width: 5px;
  width: 5%;
}

#footer {
  color: #fd3a69;
  text-align: center;
}

